.colorpalette-section{

    .container{

        .content{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .button-div{
                display: flex;
                gap: 1rem;
            }
        }
    }
}