//BASE RULES
#root{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
    position: relative;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    padding: 6rem 0;
}

.image{
    display: block;
    max-width: 100%;
    height: auto;  
    object-fit: cover;
}

//GENERIC LAYOUT 
.container{
    position: relative;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 100vw;
}


.container{
    @include mobile{
        max-width: 720px;
    }

    @include tablet{
        max-width: 900px;
    }

    @include desktop{
        max-width: 1200px;
    }
}

.mobile-hidden{
    @media(max-width: 768px){
        visibility: hidden !important;
        display: none !important;
    }
}

.tablet-hidden{
    @media(max-width: 996px){
        visibility: hidden !important;
        display: none !important;
    }
}

.desktop-hidden{
    @include mobile{
        visibility: hidden !important;
        display: none !important;
    }
}

//SCROLL REVEAL STYLING
.hidden{
    visibility: hidden;
    transform: translateX(100%); 
    pointer-events: none; 
}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

//SECTION HEADINGS
.subtitle{
    color: var(--color-theme);
    font-weight: 500;
}

.heading-container{
    h1,h2{
        margin-top: 1rem;
    }
}
