//LINK STYLING
.link{
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-dark);
    transition: color 0.25s ease-in-out;

    &:hover{
        color: var(--color-theme);
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--color-theme);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.25s ease-in-out;
    }

    &:hover::after {
        transform: scaleX(1);
    }

    svg{
        margin-left: .5rem;
        font-size: 1rem;
    }
}

.active-link{
    color: var(--color-theme) !important;
    text-decoration: underline;
    text-underline-offset: 4px;
}

//BUTTON STYLING
.btn{
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 8px 30px;
    font-size: 18px;
    transition: all 0.25s ease-in-out;
    text-decoration: none;

    svg{
        margin-left: .5rem;
        font-size: 1rem;
    }
}

.btn-theme{
    background-color: var(--color-theme);
    border: 1px solid var(--color-theme);
    color: var(--color-dark);

    &:hover{
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
        color: var(--color-light);
    }
}

.btn-secondary{
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-light);

    &:hover{
        background-color: var(--color-theme);
        border-color: var(--color-theme);
        color: var(--color-dark);
    }
}

.btn-transparent{
    background-color: transparent;
    border: 1px solid var(--color-light);
    color: var(--color-light);

    &:hover{
        border-color: var(--color-theme);
        color: var(--color-theme);
    }
}