@font-face {
    font-family: 'Rajdhani-Bold';
    src: url('/src/assets/fonts/Rajdhani-Bold.ttf');
}

@font-face {
    font-family: 'Rajdhani-SemiBold';
    src: url('/src/assets/fonts/Rajdhani-SemiBold.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('/src/assets/fonts/Rubik-VariableFont_wght.ttf');
}

html, body{
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;

    h1,h2,h3,h4,h5,h6{
        font-family: 'Rajdhani-Bold', sans-serif;
        font-weight: 700;
    }

    h1{
        font-size: 60px;

        @include mobile{
            font-size: 80px;
        }
    }
    
    h2{
        font-size: 50px;
    }

    h3{
        font-size: 40px;
    }

    h4{
        font-size: 30px;
    }

    h5{
        font-size: 22px;
    }

    h6{
        font-size: 18px;
    }
}