.home-contact-section{

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6rem 2rem;
        border-radius: 30px;
        gap: 3rem;

        @include desktop{
            text-align: start;
            align-items: start;
            flex-direction: row;
            justify-content: space-around;
            gap: 0;
        }

        .text-container{

            @include mobile{
                max-width: 32rem;
            }

            @include desktop{
                max-width: 30rem;
            }
        }
    }
}