.home-feature-section{

    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 3rem;

        @include tablet{
            flex-direction: row;
        }

        .text-container{

            .card-container{
                display: flex;
                flex-direction: column;
                gap: 2rem;

                @include mobile{
                    flex-direction: row;
                }

                .coal-card{

                    @include tablet{
                        width: 14rem;
                    }

                    @include desktop{
                        width: 18rem;
                    }
                }
            }
        }

        .image-container{
            .image{
                @include tablet{
                    width: 70rem;
                    height: 39rem;
                }

                @include desktop{
                    height: 34rem;
                }

            }
        }
    }
}