.home-hero-section{
    background-image: url('/src/assets/images/Banner\ Background.png');
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet{
        padding: 11rem 0;
    }

    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        
        @include tablet{
            flex-direction: row;
            justify-content: space-between;
        }

        .content-container{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            max-width: 100%;
            padding-top: 5rem;

            @include tablet{
                max-width: 22rem;
            }

            @include desktop{
                max-width: 30rem;
            }

            .subtitle{
                font-family: 'Rajdhani-Bold', sans-serif;
                font-size: 32px;
                font-weight: 700;
            }
        }

        .image-container{

            .image{
                height: 25rem;
                width: 25rem;
                border: 2px solid var(--color-theme);
                border-radius: 100%;

                @include desktop{
                    height: 35rem;
                    width: 35rem;
                }
            }
        }
    }
}