#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  position: relative;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  padding: 4rem 0;
}
@media (min-width: 768px) {
  section {
    padding: 6rem 0;
  }
}

.container {
  position: relative;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 996px) {
  .container {
    max-width: 900px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 768px) {
  .mobile-hidden {
    visibility: hidden !important;
    display: none !important;
  }
}

@media (max-width: 996px) {
  .tablet-hidden {
    visibility: hidden !important;
    display: none !important;
  }
}

@media (min-width: 996px) {
  .desktop-hidden {
    visibility: hidden !important;
    display: none !important;
  }
}

.hidden {
  visibility: hidden;
  transform: translateX(100%);
  pointer-events: none;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}

@font-face {
  font-family: "Rajdhani-Bold";
  src: url("/src/assets/fonts/Rajdhani-Bold.ttf");
}
@font-face {
  font-family: "Rajdhani-SemiBold";
  src: url("/src/assets/fonts/Rajdhani-SemiBold.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("/src/assets/fonts/Rubik-VariableFont_wght.ttf");
}
html, body {
  font-size: 16px;
  font-weight: 300;
  font-family: "Rubik", sans-serif;
  line-height: 1.5rem;
}
html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Rajdhani-Bold", sans-serif;
  font-weight: 700;
}
html h1, body h1 {
  font-size: 60px;
  line-height: 4rem;
}
@media (min-width: 768px) {
  html h1, body h1 {
    font-size: 80px;
    line-height: 5rem;
  }
}
html h2, body h2 {
  font-size: 50px;
  line-height: 3rem;
}
html h3, body h3 {
  font-size: 40px;
}
html h4, body h4 {
  font-size: 30px;
}
html h5, body h5 {
  font-size: 22px;
}
html h6, body h6 {
  font-size: 18px;
}

:root {
  --color-dark: #060606;
  --color-light: #f9f9f9;
  --color-gray: #232323;
  --color-body: #9f9f9f;
  --color-coal: #141414;
  --color-mustard: #262112;
  --color-theme: #fdc448;
  --color-secondary: #43371e;
}

.bg-light {
  background-color: var(--color-light);
  color: var(--color-coal);
}
.bg-light h1, .bg-light h2, .bg-light h3, .bg-light h4, .bg-light h5, .bg-light h6 {
  color: var(--color-dark);
}
.bg-light .link {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark);
  color: var(--color-body);
}
.bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6 {
  color: var(--color-light);
}
.bg-dark .link {
  color: var(--color-light);
}

.bg-coal {
  background-color: var(--color-coal);
  color: var(--color-body);
}
.bg-coal h1, .bg-coal h2, .bg-coal h3, .bg-coal h4, .bg-coal h5, .bg-coal h6 {
  color: var(--color-light);
}
.bg-coal .link {
  color: var(--color-light);
}

.bg-mustard {
  background-color: var(--color-mustard);
  color: var(--color-body);
}
.bg-mustard h1, .bg-mustard h2, .bg-mustard h3, .bg-mustard h4, .bg-mustard h5, .bg-mustard h6 {
  color: var(--color-light);
}
.bg-mustard .link {
  color: var(--color-light);
}

.link {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-dark);
  transition: color 0.25s ease-in-out;
}
.link:hover {
  color: var(--color-theme);
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-theme);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}
.link:hover::after {
  transform: scaleX(1);
}
.link svg {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.active-link {
  color: var(--color-theme) !important;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-arrow {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 12px 30px;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
  text-decoration: none;
}
.btn svg {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.btn-theme {
  background-color: var(--color-theme);
  border: 1px solid var(--color-theme);
  color: var(--color-dark);
}
.btn-theme:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-light);
}

.btn-secondary {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  color: var(--color-light);
}
.btn-secondary:hover {
  background-color: var(--color-theme);
  border-color: var(--color-theme);
  color: var(--color-dark);
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
}
.btn-transparent:hover {
  border-color: var(--color-theme);
  color: var(--color-theme);
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  border: 1px solid var(--color-theme);
  border-radius: 30px;
  padding: 2.5rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  .service-card {
    width: 15rem;
  }
}
@media (min-width: 1400px) {
  .service-card {
    width: 100%;
  }
}
.service-card:hover p {
  color: var(--color-theme);
}
.service-card:hover p::after {
  transform: scaleX(1);
}
.service-card p {
  position: relative;
  display: inline-block;
  transition: color 0.25s ease-in-out;
  color: var(--color-body);
}
.service-card p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-theme);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.25s ease-in-out;
}
.service-card .service-icon {
  color: var(--color-theme);
  width: 40px;
  height: 40px;
}

.coal-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--color-coal);
  padding: 2rem;
  border-radius: 30px;
  width: 100%;
}
.coal-card .icon-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.coal-card .icon-heading svg {
  width: 25px;
  height: 25px;
  background-color: var(--color-theme);
  color: var(--color-dark);
  padding: 1rem;
  border-radius: 100%;
}

.section-heading .heading {
  margin-top: 1rem;
}
.section-heading .subtitle {
  color: var(--color-theme);
  font-weight: 500;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.image-container {
  position: relative;
}
.image-container .image {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.image-container .image-text {
  position: absolute;
  bottom: 2rem;
  right: 4rem;
  font-weight: 500;
  color: var(--color-light);
  text-shadow: 2px 2px 10px var(--color-dark);
  font-size: 2rem;
}
@media (min-width: 996px) {
  .image-container .image-text {
    font-size: 3rem;
  }
}
.image-container .image-text svg {
  margin-left: 1rem;
  filter: drop-shadow(2px 2px 10px var(--color-dark));
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact-link .contact-icon {
  font-size: 1.3rem;
  border-radius: 100%;
  padding: 1.3rem;
  border: 1px solid var(--color-body);
  color: var(--color-light);
}

.contact-form {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr;
  grid-template-areas: "name" "email" "phone" "subject" "message" "button";
  width: 100%;
}
@media (min-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email" "phone subject" "message message" "button button";
    width: auto;
  }
}
.contact-form .name-container {
  grid-area: name;
}
.contact-form .email-container {
  grid-area: email;
}
.contact-form .phone-container {
  grid-area: phone;
}
.contact-form .subject-container {
  grid-area: subject;
}
.contact-form .message-container {
  grid-area: message;
}
.contact-form .message-container #form-message {
  width: 100%;
  resize: none;
}
.contact-form .button-container {
  grid-area: button;
}
.contact-form .button-container .btn {
  width: 100%;
}
.contact-form input, .contact-form textarea {
  background-color: transparent;
  color: var(--color-light);
  border: solid 1px var(--color-gray);
  border-radius: 8px;
}
.contact-form input {
  padding: 1.5rem 4rem 1.5rem 1rem;
  width: 100%;
}
@media (min-width: 768px) {
  .contact-form input {
    width: auto;
  }
}
.contact-form textarea {
  padding: 1.5rem 4rem 4rem 1rem;
}

header {
  background-color: transparent !important;
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo-container .logo-link {
  display: flex;
}
header .container .logo-container .logo-link .logo {
  width: 7.5rem;
}
header .container .navigation-container {
  display: flex;
  gap: 1rem;
}
header .container .navigation-container .link {
  font-size: 1rem;
  font-family: "Rajdhani-SemiBold", sans-serif;
}
header .container .social-container {
  display: flex;
  gap: 0.5rem;
}
header .container .social-container .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
  color: var(--color-light);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
}
header .container .social-container .social-link svg {
  width: 15px;
  height: 15px;
}
header .container .social-container .social-link:hover {
  background-color: var(--color-theme);
  color: var(--color-dark);
}
header .container .mobile-menu-container .burger-button {
  background: none;
  border: none;
  color: var(--color-light);
}
header .container .mobile-menu-container .burger-button svg {
  width: 25px;
  height: 25px;
}

.home-hero-section {
  background-image: url("/src/assets/images/Banner Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8rem 0;
}
@media (min-width: 996px) {
  .home-hero-section {
    padding: 11rem 0;
  }
}
.home-hero-section .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4rem;
}
@media (min-width: 996px) {
  .home-hero-section .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.home-hero-section .container .text-container {
  max-width: 100%;
  padding-top: 0rem;
}
@media (min-width: 996px) {
  .home-hero-section .container .text-container {
    max-width: 22rem;
  }
}
@media (min-width: 1400px) {
  .home-hero-section .container .text-container {
    max-width: 30rem;
  }
}
.home-hero-section .container .text-container .subtitle {
  font-family: "Rajdhani-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.home-hero-section .container .image-container .image {
  height: 25rem;
  width: 25rem;
  border: 2px solid var(--color-theme);
  border-radius: 100%;
}
@media (min-width: 1400px) {
  .home-hero-section .container .image-container .image {
    height: 35rem;
    width: 35rem;
  }
}

.home-expertise-section .container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .home-expertise-section .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .home-expertise-section .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.home-feature-section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
}
@media (min-width: 996px) {
  .home-feature-section .container {
    flex-direction: row;
  }
}
.home-feature-section .container .text-container .card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .home-feature-section .container .text-container .card-container {
    flex-direction: row;
  }
}
@media (min-width: 996px) {
  .home-feature-section .container .text-container .card-container .coal-card {
    width: 14rem;
  }
}
@media (min-width: 1400px) {
  .home-feature-section .container .text-container .card-container .coal-card {
    width: 18rem;
  }
}
@media (min-width: 996px) {
  .home-feature-section .container .image-container .image {
    width: 70rem;
    height: 39rem;
  }
}
@media (min-width: 1400px) {
  .home-feature-section .container .image-container .image {
    height: 34rem;
  }
}

.home-about-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
@media (min-width: 1200px) {
  .home-about-section .container .about-text {
    margin: 0 4rem;
  }
}
@media (min-width: 1400px) {
  .home-about-section .container .about-text {
    margin: 0 9rem;
  }
}
.home-about-section .container .image-link {
  border-radius: 30px;
  transition: all 0.25s ease-in-out;
}
.home-about-section .container .image-link .image, .home-about-section .container .image-link .image-text, .home-about-section .container .image-link svg {
  transition: all 0.25s ease-in-out;
}
.home-about-section .container .image-link .image {
  width: 100%;
  height: 20rem;
}
.home-about-section .container .image-link:hover {
  background-color: var(--color-theme);
}
.home-about-section .container .image-link:hover .image {
  opacity: 0.7;
}
.home-about-section .container .image-link:hover .image-text, .home-about-section .container .image-link:hover svg {
  color: var(--color-dark);
}

.home-contact-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 2rem;
  border-radius: 30px;
  gap: 3rem;
}
@media (min-width: 996px) {
  .home-contact-section .container {
    text-align: start;
    align-items: start;
    flex-direction: row;
    justify-content: space-around;
    gap: 0;
  }
}